.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list .item {
  padding: 16px 32px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .icon {
  fill: currentColor;
  display: block;
}

.clients-list .item:hover,
.clients-list .item:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: none;
}
