.subscribe {
  margin-left: 93px;
  margin-top: 12px;
}
.subscribe .title {
  margin-bottom: 20px;
}
.form-footer {
  display: flex;
  align-items: center;
}
.input-footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: var(--primary-white-color);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field-footer:focus-within > .input-footer {
  border-color: var(--accent-color);
  outline: none;
}
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}
.footer-button .icon {
  margin-left: 10px;
}
